/* general*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 90px;
}

.container {
    display: flex;
    height: calc(100vh - 90px);
}

aside {
    width: 200px;
}

main {
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
}

header {
    position: fixed;
    height: 100px;
    width: calc(100% - 200px);
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-main {
    padding: 110px 10px 0;
    height: 100%;
}

/* aside */

.container-aside { 
    width: 100%;
    height: 100%;
    padding: 0 10px 10px;
}

.aside-logo-spotify {
    height: 100px;
}

.info-aside {
    height: 80px;
}

.nav-aside {
    height: calc(100% - 180px);
}

/* header */

.link-upgrade {
    position: relative;
}

.link-upgrade > a {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    background-color: red;
    color: white;   
}

/* nav */

.container-main nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: grey ;
}

.container-main nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

/* main */

.container-main h2 {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px 0;
}

.card {
    width: calc(100% / 6 - 20px );
    margin: 0 10px;
}

/* footer */

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.control-buttons {
    width: calc(100% / 3);
    height: 100%;
    border: 1px solid black;
}

/* media queries */

@media screen and (max-width: 1100px){
    
}

@media screen and (max-width: 700px){
    
}

@media screen and (max-width: 600px){
    
}

/* debug */

footer {
    background-color: aqua;
}

.container {
    background-color: blueviolet;
}

aside,
main {
    border: 2px dashed black;
}

.card {
    border: 1px dashed black;
}

.container-aside > * {
    border: 1px dashed black;
}